
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post" action="~/first/Save">
    <p>
        姓名<br />
        <input type="text" name="txtc_name" />
    </p>
    <p>
        地址<br />
        <input type="text" name="txtc_address" />
    </p>
    <p>
        帳戶<br />
        <input type="text" name="txtc_account" />
    </p>
    <p>
        密碼<br />
        <input type="text" name="txtc_password" />
    </p>
    <p>
        電話<br />
        <input type="text" name="txtc_phone" />
    </p>
    <p>
        電子郵件<br />
        <input type="text" name="txtc_email" />
    </p>
    <p>
        聯絡人<br />
        <input type="text" name="txtc_pname" />
    </p>


    <p><input type="submit" value="送出" /></p>
</form>

           