
@{
    ViewBag.Title = "displayCharityMemberById";
}


<h2>displayCharityMemberById</h2>
@{
    if (ViewBag.KK != null)
    {
        <h3>@ViewBag.KK.c_name</h3>
        <br />
        @ViewBag.KK.c_email @:/ @ViewBag.KK.c_pname
    }
    else
    {
        <h3>查無此人！！！！！</h3>
    }
} 

